<p id="notice"><%= notice %></p>


<% if current_user.present? && current_user.id == @listing.user %>
  <div>
    <%= listing_to 'Edit', edit_listing_path(@listing), class: "btn btn-default" %>
    <%= listing_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class:
    "btn btn-default" %>
  <% else %>
  </div>
<% end %>
