<<<<<<< HEAD
<h1> Mystery Boxes </h1>
=======
<%# Header / Navigation (put in application layout) %>
<h1>Mystery Box Marketplace</h1>

<%# Highest / Lowest Price Sales %>
<%# - Display: img, price, date, buyer and seller. %>

<%# Slogan %>

<%# Browse Listings Enticement %>
<%# Display: img, paragraph(s) and button/link. %>

<%# Create a Listing Enticement %>
<%# Display: img, paragraph(s) and button/link. %>

<%# Footer (put in application layout) %>
>>>>>>> dev
