<div id="homepage">
<%# Highest / Lowest Price Sales %>
<%# - Display: img, price, date, buyer and seller. %>


  <!-- Browse Listings Enticement -->
  <div class="row mb-4">
    <div class="col-sm-4">
      <%# Find a new image to put here %>
      <%= image_tag "defaultbox.jpg", class: "img-fluid" %>
    </div>
    <div class="col-sm-8">
      <h3>Buy Something Mysterious...</h3>
      <p></p>
    </div>
  </div>

  <!-- Create a Listing Enticement -->
  <div class="row mb-4">
    <div class="col-sm-4">
      <%# Find a new image to put here %>
      <%= image_tag "defaultbox.jpg", class: "img-fluid" %>
    </div>
    <div class="col-sm-8">
      <h3>Have stuff to sell?</h3>
    </div>
  </div>

<%# Slogan %>

<%# Browse Listings Enticement %>
<%# Display: img, paragraph(s) and button/link. %>

<%# Create a Listing Enticement %>
<%# Display: img, paragraph(s) and button/link. %>

<%# Footer (put in application layout) %>
</div>