<%# Endpoint shortcuts (for developers) %>
<h3>Endpoints:</h3>
<ul>
  <li><%= link_to "Browse Listings", listings_path %></li>
  <li><%= link_to "Create a Listing", new_listing_path %></li>
</ul>

<%# Highest / Lowest Price Sales %>
<%# - Display: img, price, date, buyer and seller. %>

<%# Slogan %>

<%# Browse Listings Enticement %>
<%# Display: img, paragraph(s) and button/link. %>

<%# Create a Listing Enticement %>
<%# Display: img, paragraph(s) and button/link. %>

<%# Footer (put in application layout) %>
