<div id="homepage">
<%# Highest / Lowest Price Sales %>
<%# - Display: img, price, date, buyer and seller. %>
  <div class="row mb-4">
    <div class="col-sm-6">
      <%# Highest priced sale %>
      hi
    </div>
    <div class="col-sm-6">
      <%# Lowest priced sale %>
      lo
    </div>
  </div>

  <!-- Slogan -->
  <h5 id="slogan" class="py-5 text-center text-secondary">One person's mysterious trash is another's mysterious treasure.</h5>

  <!-- Browse Listings Enticement -->
  <div class="row mb-4">
    <div class="col-sm-4">
      <%# Find a new image to put here %>
      <%= image_tag "defaultbox.jpg", class: "img-fluid mb-2" %>
    </div>
    <div class="col-sm-8">
      <h3 class="mb-4">Buy Something Mysterious...</h3>
      <p>Zombie ipsum reversus ab viral, nam rick grimes malum cerebro. De carne  corpora quaeritis.</p>
      <p>Summus brains sit​​, morbo vel maleficia?</p>
      <p>De apocalypsi gorger omero undead survivor dictum mauris!</p>
      <p>
        <%= link_to "Browse Listings", listings_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

  <!-- Create Listing Enticement -->
  <div class="row mb-4">
    <div class="col-sm-4">
      <%# Find a new image to put here %>
      <%= image_tag "defaultbox.jpg", class: "img-fluid mb-2" %>
    </div>
    <div class="col-sm-8">
      <h3 class="mb-4">Have stuff to sell?</h3>
      <p>The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.</p>
      <p>Qui animated corpse, cricket bat max brucks terribilem incessu zomby.</p>
      <p>
        <%= link_to "Create a Listing", new_listing_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>

</div><!-- end of #homepage -->