<div id="successful-payment">
  <%# if @buyer.exists? %>
    <p><%#= @buyer.id %></p>
    <p><%#= @buyer.name %></p>
  <%# end %>
  <%# if @purchased_listing.exists? %>
    <p><%#= @purchased_listing.id %></p>
    <p><%#= @purchased_listing.name %></p>
  <%# else %>
    <p>no</p>
  <%# end %>
</div>
