<div id="successful-payment">
  <% if @buyer_id %>
    <p><%= @buyer_id %></p>
  <% else %>
    <p>Buyer not found</p>
  <% end %>

  <% if @product_listing_id %>
    <p><%= @product_listing_id %></p>
  <% else %>
    <p>listing not found</p>
  <% end %>  
</div>
