#listings-container {
    .row {
      margin-bottom: 1rem;
      padding-bottom: 10px;
    }
    h2 {
      padding-bottom: 50px;
      padding-top: 50px;
      text-align: center;
    }
  }
img {
    width: 300px; /* You can set the dimensions to whatever you want */
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

h6 {
  text-align: center;
}

