#listings-container {
  .listing-image {
  }
  .row {
    margin-bottom: 1.5rem;
  }
  .col-sm {
    background: #daebfa;
    padding: 1rem;
  }
  .col-sm:nth-child(1) {
    margin-right: 0.75rem;
  }
  .col-sm:nth-child(2) {
    margin: 0 0.75rem;
  }
  .col-sm:nth-child(3) {
    margin-left: 0.75rem;
  }
}
